{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-top">
        <div class="w3-bar w3-green w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">MAYSAN</a>
            <a href="/register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register</a>
            <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-white">Login</a>
        </div>
    </div>

    <div class="main-block">
        <h1>Login</h1>
        <form method="POST" action="/home">
            <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
            <input type="text" name="name" id="name" placeholder="Email" required/>

            <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
            <input type="password" name="name" id="name" placeholder="Password" required/>

            <div class="btn-block">
                <button type="submit" href="/">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>