body {
    background-color: rgb(235, 255, 248);
    color: #013110;
}
.fa-anchor,.fa-coffee {font-size:200px}
.w3-container {
    background-color: rgb(180, 43, 9);
}
.w3-margin {
    color: #013110;
}